@model Batheer.Application.TargetedSchedulingForProjectImplementations.Queries.GetById.TargetedSchedulingForProjectImplementation

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            @*<div class="card-header">Form Elements</div>*@
            <div class="card-body">
                <h1>حذف</h1>

                <h3>هل أنت متأكد من حذف هذا العنصر؟</h3>
                <div>
                    <h4>الجدولة الزمنية</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            تصنيف المشرع
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CouncilProjectName)
                        </dd>
                        <dt class="col-sm-2">
                            اسم المشروع
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProjectName)
                        </dd>
                        <dt class="col-sm-2">
                            من تاريخ
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FromDate)
                        </dd>
                        <dt class="col-sm-2">
                            إلى تاريخ
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ToDate)
                        </dd>
                        <dt class="col-sm-2">
                            حالة المشروع
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TargetedSchedulingForProjectImplementationStatusName)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="حذف" class="btn btn-danger" /> |
                        <a asp-action="Index">عودة</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>