@model SearchInFamilyRegistrationRequestsQuery

@using Batheer.Application.AssociationsAffiliatedWithTheCouncils.Queries.GetAssociationsAffiliatedWithTheCouncils;
@using Batheer.Application.Reports.Queries.SearchInFamilyRegistrationRequests;
@using Batheer.Application.Modules.Lookups.Queries.GetAccommodationTypes;
@using Batheer.Application.Modules.Lookups.Queries.GetEducationalLevels;
@using Batheer.Application.Modules.Lookups.Queries.GetEstimatedProjectCosts;
@using Batheer.Application.Modules.Lookups.Queries.GetFamilyCategories;
@using Batheer.Application.Modules.Lookups.Queries.GetFamilyNeeds;
@using Batheer.Application.Modules.Lookups.Queries.GetFinanceTypes;
@using Batheer.Application.Modules.Lookups.Queries.GetHealthStatuses;
@using Batheer.Application.Modules.Lookups.Queries.GetLoanTypes;
@using Batheer.Application.Modules.Lookups.Queries.GetMaritalStatuses;
@using Batheer.Application.Modules.Lookups.Queries.GetMonthlyIncomes;
@using Batheer.Application.Modules.Lookups.Queries.GetNationalities;
@using Batheer.Application.Modules.Lookups.Queries.GetOccupations;
@using Batheer.Application.Modules.Lookups.Queries.GetProducedFamilyProducts;
@using Batheer.Application.Modules.Lookups.Queries.GetGenders;


@inject Batheer.Application.Common.Interfaces.ICurrentUserService _currentUserService
@inject MediatR.IMediator Mediator;


@{

    ViewBag.AccommodationTypeId = await Mediator.Send(new GetAccommodationTypesQuery());
    ViewBag.EducationalLevelId = await Mediator.Send(new GetEducationalLevelsQuery());
    ViewBag.EstimatedProjectCostId = await Mediator.Send(new GetEstimatedProjectCostsQuery());
    ViewBag.FinanceTypeId = await Mediator.Send(new GetFinanceTypesQuery());
    ViewBag.HealthStatusId = await Mediator.Send(new GetHealthStatusesQuery());
    ViewBag.LoanTypeId = await Mediator.Send(new GetLoanTypesQuery());
    ViewBag.MaritalStatusId = await Mediator.Send(new GetMaritalStatusesQuery());
    ViewBag.MonthlyIncomeId = await Mediator.Send(new GetMonthlyIncomesQuery());
    ViewBag.NationalityId = await Mediator.Send(new GetNationalitiesQuery());
    ViewBag.OccupationId = await Mediator.Send(new GetOccupationsQuery());
    ViewBag.ProducedFamilyProductId = await Mediator.Send(new GetProducedFamilyProductsQuery());
    ViewBag.FamilyNeeds = await Mediator.Send(new GetFamilyNeedsQuery());
    ViewBag.FamilyCategoryId = await Mediator.Send(new GetFamilyCategoriesQuery());
    ViewBag.GenderId = await Mediator.Send(new GetGendersQuery());

    ViewBag.FamilyNeedId = await Mediator.Send(new GetFamilyNeedsQuery());
    ViewBag.FamilyCategoryId = await Mediator.Send(new GetFamilyCategoriesQuery());
    ViewBag.AssociationsAffiliatedWithTheCouncilId = await Mediator.Send(new GetAssociationsAffiliatedWithTheCouncilsQuery());
}

@{
    ViewData["Title"] = "الاستعلامات والتقارير" + @" / " + "البحث عن عوائل دعم الأسر";


}

@{
    var QueryResult = ViewBag.QueryResult as IEnumerable<SearchInFamilyRegistrationRequestsDto>;

}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            @*<div class="card-header">Form Elements</div>*@
            <div class="card-body">
                <h1>البحث عن عوائل دعم الأسر</h1>
                <h3>محددات البحث</h3>
                <form method="post">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="FullName" class="control-label">الاسم</label>
                            <input asp-for="FullName" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="IdentityNo" class="control-label">رقم الهوية</label>
                            <input asp-for="IdentityNo" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="GenderId" class="control-label">الجنس</label>
                            <select asp-for="GenderId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.GenderId, "Id", "Name"))">
                                <option>--الكل--</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="NationalityId" class="control-label">الجنسية</label>
                            <select asp-for="NationalityId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.NationalityId, "Id", "Name"))">
                                <option>--الكل--</option>
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="AccommodationTypeId" class="control-label">نوع السكن</label>
                            <select asp-for="AccommodationTypeId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.AccommodationTypeId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="Email" class="control-label">البريد الالكتروني</label>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Mobile" class="control-label">رقم الجوال</label>
                            <input asp-for="Mobile" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="PhoneNumber" class="control-label">رقم الهاتف</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="MaritalStatusId" class="control-label">الحالة الاجتماعية لعائل الأسرة</label>
                            <select asp-for="MaritalStatusId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.MaritalStatusId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="EducationalLevelId" class="control-label">المستوى الدراسي</label>
                            <select asp-for="EducationalLevelId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.EducationalLevelId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="HealthStatusId" class="control-label">الحالة الصحية</label>
                            <select asp-for="HealthStatusId" class="form-control" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.HealthStatusId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="OccupationId" class="control-label">المهنة</label>
                            <select class="form-control" asp-for="OccupationId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.OccupationId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="MonthlyIncomeId" class="control-label">الدخل الشهري</label>
                            <select asp-for="MonthlyIncomeId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.MonthlyIncomeId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>



                        <div class="form-group col-md-3">
                            <label asp-for="FamilyNeedId" class="control-label">نوع الدعم</label>
                            <select asp-for="FamilyNeedId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.FamilyNeedId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label asp-for="FamilyCategoryId" class="control-label">تصنيف الأسرة</label>
                            <select asp-for="FamilyCategoryId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.FamilyCategoryId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="AssociationsAffiliatedWithTheCouncilId" class="control-label">الجمعية</label>
                            <select asp-for="AssociationsAffiliatedWithTheCouncilId" class="form-control"
                                    asp-items="@(new SelectList(ViewBag.AssociationsAffiliatedWithTheCouncilId, "Id", "Name"))">
                                <option>--الكل--</option>

                            </select>
                        </div>

                        <br>
                        <div class="form-group col-md-12">
                            <input type="submit" value="بحث" class="btn btn-primary" />
                            <input type="submit" value="تصدير إكسل" class="btn btn-primary" asp-action="SearchInFamilyRegistrationRequestsExport" />
                        </div>
                    </div>
                </form>


                @if (QueryResult != null)
                {

                    <h3>نتيجة البحث</h3>
                    <div class="row">


                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>الجمعية</th>
                                    <th>تصنيف الأسرة</th>
                                    <th>?خارج تبوك</th>
                                    <th>الهوية</th>
                                    <th>الاسم</th>
                                    <th>الجنسية</th>
                                    <th>الوظيفة</th>
                                    <th>تاريخ الميلاد</th>
                                    <th>الجوال</th>
                                    <th>التعليم</th>
                                    <th>الصحة</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in QueryResult)
                                {
                                <tr>
                                    <td>@item.AssociationsAffiliatedWithTheCouncilName</td>
                                    <td>@item.FamilyCategoryName</td>
                                    <td>@(item.ResidencyAddressData_IsOutOfTabuk? "نعم" : "لا")</td>
                                    <td>@item.IdentityNo</td>
                                    <td>@(string.Format($"{item.FirstName} {item.FatherName} {item.GrandFatherName} {item.FamilyName}"))</td>
                                    <td>@item.NationalityName</td>
                                    <td>@item.OccupationName</td>
                                    <td>@item.DateOfBirth.ToString("yyyy/MM/dd")</td>
                                    <td>@item.ContactInformationData_PhoneNumber</td>

                                    <td>@item.EducationalLevelName</td>

                                    <td>@item.HealthStatusData_StatusName</td>


                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
