@model Batheer.Application.FamilyMembers.Commands.UpdateFamilyMember.UpdateFamilyMemberCommand


@{
    ViewData["Title"] = "تعديل فرد بعائلة";
    bool _readonly = false;


    var familyMember = ViewBag.Item as Batheer.Application.FamilyMembers.Queries.GetFamilyMemberByObjectkey.FamilyMemberDto;
    //var FamilyId = ViewBag.FamilyId ?? Model.FamilyId;
    //var familyObjectkey = ViewBag.FamilyObjectkey;
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <h4>تعديل فرد بعائلة</h4>
                <hr />


                <form asp-action="Edit" asp-route-memberObjectkey="@Model.Objectkey" enctype="multipart/form-data" class="needs-validation" novalidate>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="familyObjectkey" value="@familyMember.FamilyObjectkey" />
                    <input type="hidden" asp-for="@Model.Objectkey" />
                    <input type="hidden" name="memberObjectkey" value="@Model.Objectkey" />
                    <h4>البيانات الشخصية</h4>
                    <hr />
                    <div class="row">

                        @*<input type="hidden" asp-for="PersonalDataForm.Id" />*@
                        <div class="form-group col-md-6">
                            <label class="control-label">الاسم الأول</label>
                            <input asp-for="FirstName" class="form-control" asp-is-readonly="_readonly" required />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="FatherName" class="control-label">اسم الأب</label>
                            <input asp-for="FatherName" class="form-control" asp-is-readonly="_readonly" required />
                            <span asp-validation-for="FatherName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="GrandFatherName" class="control-label">اسم الجد</label>
                            <input asp-for="GrandFatherName" class="form-control" asp-is-readonly="_readonly" required />
                            <span asp-validation-for="GrandFatherName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="FamilyName" class="control-label">اسم العائلة</label>
                            <input asp-for="FamilyName" class="form-control" asp-is-readonly="_readonly" required />
                            <span asp-validation-for="FamilyName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">رقم الهوية</label>
                            @*<input name="PersonalDataForm.IdentityNo" class="form-control" readonly maxlength="10" minlength="10" value="@Model.IdentityNo" />*@
                            <input name="familyMember.IdentityNo" value="@familyMember.IdentityNo" class="form-control" readonly />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="DateOfBirth" class="control-label">تاريخ الميلاد</label>
                            <input id="dateOfBirth" type="text" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth">

                            @*<input type="hidden" name="DateOfBirth" id="DateOfBirth" value="" />*@
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PlaceOfBirth" class="control-label">مكان الميلاد</label>
                            <input asp-for="PlaceOfBirth" class="form-control" asp-is-readonly="_readonly" />
                            <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="GenderId" class="control-label">الجنس</label>
                            <select asp-for="GenderId" class="form-control"
                                    required
                                    asp-items="@(new SelectList(ViewBag.GenderId, "Id", "Name"))" asp-is-readonly="_readonly">
                                <option selected disabled value="">--الرجاء الاختيار--</option>
                            </select>
                            <span asp-validation-for="GenderId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="NationalityId" class="control-label">الجنسية</label>
                            <select asp-for="NationalityId"
                                    required
                                    class="form-control" asp-items="@(new SelectList(ViewBag.NationalityId, "Id", "Name"))" asp-is-readonly="_readonly">
                                <option selected disabled value="">--الرجاء الاختيار--</option>
                            </select>
                            <span asp-validation-for="NationalityId" class="text-danger"></span>
                        </div>
                        @*<div class="custom-file col-md-6">
                                <label asp-for="IdentityFileObjectKey" class="control-label">صورة الهوية</label>
                                <input asp-for="IdentityFileObjectKey" class="form-control" asp-is-readonly="_readonly" type="file" accept="image/*" required />
                                <span asp-validation-for="IdentityFileObjectKey" class="text-danger"></span>
                            </div>*@


                        @*<div class="form-group col-md-6">
                                <label asp-for="PersonalPhotoFileObjectKey" class="control-label">صورة شخصية</label>
                                <input asp-for="PersonalPhotoFileObjectKey" class="form-control" asp-is-readonly="_readonly" type="file" accept="image/*" required />
                                <span asp-validation-for="PersonalPhotoFileObjectKey" class="text-danger"></span>
                            </div>*@

                    </div>

                    <h4>البيانات التعليمية</h4>
                    <hr />
                    <div class="form-group col-md-6">
                        <label asp-for="EducationalLevelId" class="control-label">المستوى الدراسي</label>
                        <select asp-for="EducationalLevelId" class="form-control" required
                                asp-items="@(new SelectList(ViewBag.EducationalLevelId, "Id", "Name"))">
                            <option selected disabled value="">--الرجاء الاختيار--</option>
                        </select>
                        <span asp-validation-for="EducationalLevelId" class="text-danger"></span>
                    </div>


                    <h4>بيانات الحالة الصحية</h4>
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="HealthStatusId" class="control-label">الحالة الصحية</label>
                            <select asp-for="HealthStatusId" class="form-control" required
                                    asp-items="@(new SelectList(ViewBag.HealthStatusId, "Id", "Name"))">
                                <option selected disabled value="">--الرجاء الاختيار--</option>
                            </select>
                            <span asp-validation-for="HealthStatusId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="HealthStatus_Others" class="control-label">أخرى</label>
                            <input asp-for="HealthStatus_Others" class="form-control" />
                            <span asp-validation-for="HealthStatus_Others" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="HealthStatus_Description" class="control-label">نوع المرض أو الإعاقة إن وجد</label>
                            <input asp-for="HealthStatus_Description" class="form-control" />
                            <span asp-validation-for="HealthStatus_Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="حفظ" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

                <div>
                    <a asp-action="Index" asp-route-familyObjectkey="@familyMember.FamilyObjectkey">عودة للقائمة</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


        (function () {
            $("#dateOfBirth").hijriDatePicker({

                format: 'D/M/YYYY',
                hijriFormat: 'iD/iM/iYYYY'
            });
            $("#dateOfBirth").on('dp.change', function (event) {

                var input = $('[name$="PersonalDataForm.DateOfBirth"]');
                if (!event.date) {
                    $(input).val('');
                    return;
                };

                let date = event.date;

                $(input).val(date.format("YYYY/M/D"));

                console.log(event.date);
                //console.log($(this).data('date'));
            });


            var MAX_FILE_SIZE = 0.5 * 1024 * 1024; // 0.5MB

            $('input[type="file"]').change(function () {
                fileSize = this.files[0].size;
                if (fileSize > MAX_FILE_SIZE) {
                    this.setCustomValidity("حجم الملف أكبر من 512 كيلو بايت");

                    $("<span class='text-danger field-validation-error'><span>حجم الملف أكبر من 512 كيلو بايت.</span></span>").insertAfter(this);
                    this.reportValidity();
                } else {
                    $(this).next().remove()
                    this.setCustomValidity("");
                }
            });


        })();

    </script>
}
