@using Batheer.Application.AssociationsAffiliatedWithTheCouncils.Queries.GetAssociationsAffiliatedWithTheCouncils;
@using Batheer.Application.ExcludeIdentityNumbers.Queries.GetExcludeIdentityNumbers;
@using Batheer.Application.Modules.Lookups.Queries.GetFamilyNeedsWithDetails
@inject MediatR.IMediator Mediator;
@using Batheer.WebUI.Utls;


@{
    var Search_AssociationsAffiliatedWithTheCouncilId = ViewBag.Search_AssociationsAffiliatedWithTheCouncilId;
    var Search_IdentityNo = ViewBag.Search_IdentityNo;

    var Items = await Mediator.Send(new GetExcludeIdentityNumbersQuery()
            {
                IdentityNo = Search_IdentityNo,
                AssociationsAffiliatedWithTheCouncilId = Search_AssociationsAffiliatedWithTheCouncilId
            });

    var AssociationsAffiliatedWithTheCouncil = await Mediator.Send(new GetAssociationsAffiliatedWithTheCouncilsQuery());

}




<div class="col-lg-12">

    <div class="row">
        <h3>محددات البحث</h3>
        <form method="post">
            <div class="row">


                <div class="form-group col-md-5">
                    <label class="control-label">الجمعية</label>
                    <select name="Search_AssociationsAffiliatedWithTheCouncilId" class="form-control"
                            asp-items="@(new SelectList(AssociationsAffiliatedWithTheCouncil, "Id", "Name",Search_AssociationsAffiliatedWithTheCouncilId))">
                        <option value="">--الكل--</option>

                    </select>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">رقم الهوية</label>
                    <input name="Search_IdentityNo" class="form-control" value="@Search_IdentityNo" />
                </div>

                <div class="form-group col-md-2">
                    <br />
                    <input type="submit" value="بحث" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    رقم الهوية
                </th>

                <th>
                    ملاحظات
                </th>
                <th>اسم الجمعية</th>
                <th>الاسم</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CouncilName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>

                    <td>
                        @if (item.IsFamilyMember)
                        {
                            <span>فرد بعائلة</span>
                        }
                        else
                        {
                            <span>عائل أسرة</span>
                        }
                    </td>
                    <td>
                        <form asp-action="Delete" method="post" style="display:inline">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="submit" value="حذف" class="btn btn-sm btn-outline-danger" onclick="return confirm('هل أنت متأكد من الحذف?');" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
