@model BaSaleh.Domain.AssociationAffiliatedProjects.EnsuringOrphanRequest

@{
    ViewData["Title"] = "Create";
}

@*<h1>كفالة يتيم</h1>*@
<h1>@*تمكين الأسر (الأسر المنتجة)*@ </h1>
<h1>دعم الأسر </h1>

<h4>طلب تسجيل</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.Partial("_Create_PersonalDataForm")
        <br />
        @Html.Partial("_Create_ContactInformation")
        <br />
        @Html.Partial("_Create_ResidencyAddressData")
        <br />
        @Html.Partial("_Create_OccupationData")
        <br />
        @Html.Partial("_Create_EducationalData")
        <br />
        @Html.Partial("_Create_AccommodationData")
        <br />
        @Html.Partial("_Create_MaritalStatusData")
        <br />
        @Html.Partial("_Create_HealthStatusData")
        <br />
        @Html.Partial("_Create_MonthlyIncomeData")
        <br />
        @Html.Partial("_Create_SocialSecurityData")
        <br />
        @Html.Partial("_Create_WorkOnAProjectData")
        <br />
        @Html.Partial("_Create_LoanData")
        <br />
        @Html.Partial("_Create_BankDefaultData")
        <br />
        @Html.Partial("_Create_FinanceData")
        <br />
        @Html.Partial("_Create_ProjectData")


        @*<div class="form-group">
            <label asp-for="ResidencyAddressDataId" class="control-label"></label>
            <select asp-for="ResidencyAddressDataId" class="form-control" asp-items="ViewBag.ResidencyAddressDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="EducationalDataId" class="control-label"></label>
            <select asp-for="EducationalDataId" class="form-control" asp-items="ViewBag.EducationalDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="HealthStatusDataId" class="control-label"></label>
            <select asp-for="HealthStatusDataId" class="form-control" asp-items="ViewBag.HealthStatusDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="MaritalStatusDataId" class="control-label"></label>
            <select asp-for="MaritalStatusDataId" class="form-control" asp-items="ViewBag.MaritalStatusDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="OccupationDataId" class="control-label"></label>
            <select asp-for="OccupationDataId" class="form-control" asp-items="ViewBag.OccupationDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="AccommodationDataId" class="control-label"></label>
            <select asp-for="AccommodationDataId" class="form-control" asp-items="ViewBag.AccommodationDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="BankDefaultDataId" class="control-label"></label>
            <select asp-for="BankDefaultDataId" class="form-control" asp-items="ViewBag.BankDefaultDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="FinanceDataId" class="control-label"></label>
            <select asp-for="FinanceDataId" class="form-control" asp-items="ViewBag.FinanceDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="LoanDataId" class="control-label"></label>
            <select asp-for="LoanDataId" class="form-control" asp-items="ViewBag.LoanDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="MonthlyIncomeDataId" class="control-label"></label>
            <select asp-for="MonthlyIncomeDataId" class="form-control" asp-items="ViewBag.MonthlyIncomeDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="ProjectDataId" class="control-label"></label>
            <select asp-for="ProjectDataId" class="form-control" asp-items="ViewBag.ProjectDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="SocialSecurityDataId" class="control-label"></label>
            <select asp-for="SocialSecurityDataId" class="form-control" asp-items="ViewBag.SocialSecurityDataId"></select>
        </div>
        <div class="form-group">
            <label asp-for="WorkOnAProjectDataId" class="control-label"></label>
            <select asp-for="WorkOnAProjectDataId" class="form-control" asp-items="ViewBag.WorkOnAProjectDataId"></select>
        </div>*@
        @*<div class="form-group">
            <label asp-for="RequestStatusId" class="control-label"></label>
            <select asp-for="RequestStatusId" class="form-control" asp-items="ViewBag.RequestStatusId"></select>
        </div>
        <div class="form-group">
            <label asp-for="AssociationAffiliatedProjectId" class="control-label"></label>
            <select asp-for="AssociationAffiliatedProjectId" class="form-control" asp-items="ViewBag.AssociationAffiliatedProjectId"></select>
        </div>
        <div class="form-group">
            <label asp-for="PersonalDataFormId" class="control-label"></label>
            <select asp-for="PersonalDataFormId" class="form-control" asp-items="ViewBag.PersonalDataFormId"></select>
        </div>*@
        <div class="form-group">
            <input type="submit" value="إنشاء الطلب" class="btn btn-primary" />
        </div>
    </form>
    </div>

<div>
    <a asp-action="Index">عودة للقائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
