@model BaSaleh.Domain.AssociationAffiliatedProjects.EnsuringOrphanRequest

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EnsuringOrphanRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidencyAddressData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidencyAddressData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthStatusData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthStatusData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatusData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatusData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankDefaultData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankDefaultData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyIncomeData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyIncomeData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOnAProjectData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOnAProjectData.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus.Id)
        </dd class>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociationAffiliatedProject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociationAffiliatedProject.Id)
        </dd class>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDataForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalDataForm.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
