@model BaSaleh.Domain.AssociationAffiliatedProjects.EnsuringOrphanRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnsuringOrphanRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInformation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidencyAddressData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidencyAddressData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HealthStatusData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HealthStatusData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatusData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatusData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OccupationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OccupationData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankDefaultData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankDefaultData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinanceData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinanceData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyIncomeData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyIncomeData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOnAProjectData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOnAProjectData.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus.Id)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociationAffiliatedProject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociationAffiliatedProject.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalDataForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalDataForm.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
